<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.give.donagi.notice.mapper.RecommendSQLMapper">
	
<insert id="insertRecommend">
	<![CDATA[
		insert into bn_recommend values
		(
			bn_recommend_seq.nextval,
			#{m_no},
			#{bn_no}
		)
	]]>
</insert>

<select id="RecommendCount" resultType="int">
	<![CDATA[
		select count(*) from bn_recommend
		where bn_no = #{bn_no}
	]]>
</select>
<select id="isRecommendCliked" resultType="com.give.donagi.vo.NoticeRecommendVo">
	<![CDATA[
		select * from bn_recommend
		where bn_no = #{bn_no}
		and m_no = #{m_no}
	]]>
</select>

<delete id="deleteRecommend">
		delete from bn_recommend
		where bnr_no = #{bnr_no}
</delete>
</mapper>