<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.give.donagi.reviewFunding.mapper.UserReportSQLMapper">

	<select id="createRerfNo" resultType="int">
		<![CDATA[
			SELECT Report_RF_seq.nextval FROM Dual
		]]>	
		</select>


	<insert id="insert">
	<![CDATA[
		INSERT INTO Report_RF VALUES(
		 	  #{rerf_no},
		 	  #{rf_no},
			  #{m_no},
		 	  #{rerf_content},
		 	  0,
		 	  SYSDATE
		)			
	]]>	
	</insert>

</mapper>